roarbwjan19/tibco.bw.entergy.RoarImplementation/Schemas/FailedServicesList.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
         <xs:element name="Resultsets">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="ResultSet1">
                                 <xs:complexType>
                                 <xs:sequence>
                                             <xs:element name="Record1" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                          <xs:sequence>
                                                         	<xs:element
                                                         		type="xs:string"
                                                         		name="ServiceName">
                                                         	</xs:element>
                                                         	<xs:element
                                                         		type="xs:int"
                                                         		name="ErrorCount"
                                                         		maxOccurs="1"
                                                         		minOccurs="0">
                                                         	</xs:element>
                                                         	<xs:element
                                                         		name="AvgRespTime"
                                                         		type="xs:double"
                                                         		maxOccurs="1"
                                                         		minOccurs="0">
                                                         	</xs:element>
                                                         	<xs:element
                                                         		name="Domain"
                                                         		type="xs:string"
                                                         		maxOccurs="1"
                                                         		minOccurs="0">
                                                         	</xs:element>
                                        <xs:element name="AppSpace" type="xs:string" maxOccurs="1" minOccurs="0">
                                                         	</xs:element>
                                        <xs:element
                                                         		name="AppNode"
                                                         		type="xs:string"
                                                         		maxOccurs="1"
                                                         		minOccurs="0">
                                                         	</xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                              </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>